<ion-view view-title="Keyonic">
  <ion-content class="padding">

<div class="card" align="center">
<img src="../img/keycloak.png" height="60">
  <div class="item item-text-wrap">
    <p>Welcome to Keyonic <br> An Ionic Application with Keycloak.</p>
  </div>
</div>


<div class="list card" ng-if="showProfile">

<div class="item item-avatar">
  <img ng-src={{user.attributes.avatar[0]}}>
  <h2>{{user.firstName}} {{user.lastName}} ({{user.username}})</h2>
  <p>{{user.email}}</p>
</div>

<div class="item item-body" align="center">
  <pre><i class="icon ion-cube"></i> {{user.id}}</pre>
</div>

<div class="item item-body">
  <ion-list>
    <ion-checkbox ng-model="user.enabled">Enabled</ion-checkbox>
    <ion-checkbox ng-model="user.emailVerified">Email Verified</ion-checkbox>
  </ion-list>
</div>

</div>

<button class="button button-full button-balanced" ng-click="keycloakLoadUserProfile()" ng-if="!showProfile">
Show User Profile  <i class="icon ion-ios-arrow-right"></i>
</button>

  </ion-content>
</ion-view>
